[Unit]
Description=Jaeger query service provides a Web UI and an API for accessing trace data.
Documentation=https://www.jaegertracing.io/docs/1.17/
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/jaeger

[Service]
EnvironmentFile=-/etc/jaeger/jaeger.env
WorkingDirectory=/var/lib/jaeger
User=jaeger
Group=jaeger
StandardOutput=syslog
SyslogIdentifier=jaeger-query
ExecStart=/usr/local/bin/jaeger-query --config-file=/etc/jaeger/jaeger-query.yaml
Restart=on-abort
LimitNOFILE=65536


[Install]
WantedBy=multi-user.target
